/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #232323;
  --card-bg: #ffffff;
  --sidebar-bg: #ffffff;
  --secondary-bg: #F5F7FA;
  
  --text-primary: #343C6A;
  --text-secondary: #718EBF;
  --text-turtiary: #232323;
  --text-quaternary: #ffffff;

  --border: #e4e4e4;

  --primary: #343C6A;
  --secondary: #718EBF;
  --tertiary: #232323;

  --success: #41D4A8;
  --danger: #FF4B4A;
  --warning: #FFBB38;
  --lato: 'Lato', sans-serif;
  --inter: 'Inter', sans-serif;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #232323;
    --card-bg: #ffffff;
    --sidebar-bg: #ffffff;
    --secondary-bg: #F5F7FA;
    --text-primary: #343C6A;
    --text-secondary: #718EBF;
    --text-turtiary: #232323;
    --text-quaternary: #ffffff;
    --border: #e4e4e4;
    --primary: #343C6A;
    --secondary: #718EBF;
    --tertiary: #232323;
    --success: #41D4A8;
    --danger: #FF4B4A;
    --warning: #FFBB38;
    --lato: 'Lato', sans-serif;
    --inter: 'Inter', sans-serif;
  }
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #e4e4e4;
    --card-bg: #171717;
    --sidebar-bg: #101223;
    --secondary-bg: #202020;
    
    --text-primary: #ffffff;
    --text-secondary: #a1a1a1;
    --text-turtiary: #e4e4e4;
    --text-quaternary: #232323;

    --border: #2d2d2d;

    --primary: #6c5dd3;
    --secondary: #4a3aff;
    --tertiary: #e4e4e4;

    --success: #41D4A8;
    --danger: #FF4B4A;
    --warning: #FFBB38;
    --lato: 'Lato', sans-serif;
    --inter: 'Inter', sans-serif;
  }
} */

/* theme  */
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-turtiary: var(--text-turtiary);
  --color-text-quaternary: var(--text-quaternary);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --font-lato: var(--lato);
  --font-inter: var(--inter);
}
body{
  font-family: var(--inter);
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.y-scrollbar{
  overflow-x: hidden;
  overflow-y: auto;
}
.y-scrollbar::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 2px rgba(134, 134, 134, 0.3); */
  background-color: transparent;
}

.y-scrollbar::-webkit-scrollbar
{
  width: 4px;
  background-color: transparent;
}

.y-scrollbar::-webkit-scrollbar-thumb
{
  background-color: #14141450;
}
.react-multiple-carousel__arrow {
  background: #ffffff !important;
 
}
.react-multiple-carousel__arrow::before{
  color: var(--text-secondary) !important;
}
.react-multiple-carousel__arrow--right{
  box-shadow: 4px 4px 10px 0px #e5e5e5;
}
.react-multiple-carousel__arrow--left{
  box-shadow: -4px 4px 10px 0px #e5e5e5;
}



